<!-- chat_page.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>chat page</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/chat/chat_page.css" />
  </head>
  <body>
    <div class="chat-page">
      <!-- chat-list -->
      <div class="list">
        <div class="list__header">
          <div class="list__header__user-id">내 아이디</div>
          <div class="list__header__toggle">
            <span>읽지 않은 항목</span>
            <label class="list__header__toggle-switch">
              <input type="checkbox" id="toggleOption" />
              <span class="list__header__toggle-slider"></span>
            </label>
          </div>
        </div>
        <div class="list__room-list">
          <!-- 채팅방 리스트 아이템 -->
          <div class="list__room-list__item">
            <div class="list__room-list__item-content">
              <div class="list__room-list__item-meta">
                <div class="list__room-list__item-meta__partner-id">상대방 아이디</div>
                <div class="list__room-list__item-meta__location">화곡동</div>
                <div class="list__room-list__item-meta__timestamp">3주전</div>
              </div>
              <div class="list__room-list__item__preview">
                넵넵 감사합니다! 넵넵 감사합니다! 넵넵 감사합니다! 넵넵 감사합니다! 넵넵 감사합니다! 넵넵 감사합니다! 넵넵 감사합니다!
              </div>
            </div>
            <img class="thumbnail" src="/src/main/resources/static/assets/images/chat_test_pic.jpg" />
          </div>
        </div>
      </div>

      <!-- chat-room -->
      <div class="room">
        <div class="room__header">
          <div class="room__header__partner-info">
            <div class="room__header__partner-info__id">상대방 아이디</div>
            <div class="room__header__partner-info__temperature">36.9°C</div>
          </div>
          <div class="room__header__trade-info">
            <div class="room__header__trade-info__product">
              <img class="thumbnail" src="/src/main/resources/static/assets/images/chat_test_pic.jpg" />
              <div class="room__header__trade-info__product-meta">
                <div class="room__header__trade-info__product__name">LG 양문형 냉장고 779L</div>
                <div class="room__header__trade-info__product__price">150,000원</div>
              </div>
            </div>
            <div class="room__header__trade-info__status-button">거래 확정하기</div>
          </div>
        </div>
        <div class="room__messages">
          <!-- 채팅 말풍선 -->
          <div class="room__messages__item room__messages__item--chat-bot">
            <div class="room__messages__item__content">
              <div class="room__messages__item__text">법적으로 중고 거래를 금지하는 품목이 있나요?</div>
              <div class="message-time">2022-08-05 18:00</div>
            </div>
          </div>
          <div class="room__messages__item room__messages__item--me">
            <div class="room__messages__item__content">
              <div class="room__messages__item__text">
                넵넵 감사합니다! 넵넵 감사합니다! 넵넵 감사합니다! 넵넵 감사합니다! 넵넵 감사합니다! 넵넵 감사합니다! 넵넵 감사합니다! 넵넵 감사합니다! 넵넵
                감사합니다! 넵넵 감사합니다! 넵넵 감사합니다! 넵넵 감사합니다!
              </div>
              <div class="message-time">2022-08-05 18:00</div>
            </div>
          </div>
        </div>
        <div class="room__input-area">
          <div class="room__input-area__wrapper">
            <textarea class="room__input-area__field" placeholder="메시지를 입력하세요"></textarea>
            <button class="room__input-area__send-button">전송</button>
          </div>
        </div>
      </div>
    </div>
    <script src="/src/main/resources/static/js/chat/chat_page.js"></script>
  </body>
</html>
