<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" th:href="@{/css/common/style.css}">
  <link rel="stylesheet" th:href="@{/css/trade/trade.css}">
  <link rel="stylesheet" th:href="@{/css/trade/trade_write.css}">
  <title th:text="${title} + ' 편집 | GMO당근 중고거래'">거래물품 편집 | GMO당근 중고거래</title>
</head>
<body>
<header></header>
<main>
  <section>
    <div>
      <h1 th:text="${title} + ' 편집하기'">거래물품 편집하기</h1>
    </div>
    <!-- Todo :
      add th:action="@{/trade/write}" method="post"
      add form validation for all inputs
      add original data from model attribute to each inputs' value
    -->
    <form>
      <div>
        <div class="img-input-box">
          <input type="file"/>
        </div>
        <div class="img-preview"></div>
        <div>
          <div>
            <label for="title" class="form-label">글 제목</label>
            <input id="title" name="title" class="form-input" placeholder="글 제목"/>
          </div>
          <div>
            <p>거래 방식</p>
            <div>
              <span>판매하기</span>
              <span>나눔하기</span>
            </div>
            <input id="price" name="price" class="form-input" placeholder="₩ 가격을 입력해주세요."/>
            <div>
              <input type="checkbox" id="offerable" name="is_offerable">
              <label for="offerable">가격 제안 받기</label>
            </div>
          </div>
        </div>
      </div>
      <div>
        <label for="description" class="form-label">물품 설명</label>
        <textarea id="description" name="description" class="form-input"
        placeholder="게시글 내용을 작성해주세요."></textarea>
      </div>
      <div>
        <label for="preferred_location">거래 희망 장소</labe l>
        <input id="preferred_location" name="preferred_location" class="form-input"
                placeholder="거래를 희망하는 장소를 입력해주세요."/>
      </div>
      <div>
        <button type="submit" class="write-button">완료</button>
        <button type="button" class="cancel-button">취소</button>
      </div>
    </form>
  </section>
</main>
<footer></footer>
</body>
</html>