<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title th:if="${keyword}" th:text="${keyword} + ' 중고거래 검색결과 | GMO 당근'">키워드 중고거래 검색결과 | GMO당근</title>
  <title th:unless="${keyword}" th:text="${location} + ' | GMO 당근'">서울특별시 종로구 중고거래 | GMO당근</title>
</head>
<body>
<header></header>
<main>
  <div class="container">
    <nav th:replace="~{/trade/fragments/trade_components :: nav}">
      <ul class="nav-list">
        <li><a th:href="@{/home}">홈</a></li>
        <li><a th:href="@{/trade}">중고거래</a></li>
        <li><a th:href="@{/trade/1}">거래글</a></li>
      </ul>
    </nav>
    <!-- Todo : add search related components-->
    <div th:if="${keyword}">
      <h1 th:text="${keyword} + ' 검색 결과'">"키워드" 검색 결과</h1>
    </div>
    <div th:unless="${keyword}">
      <h1 th:text="${location} + ' 중고거래'">지역별 중고거래</h1>
    </div>
    <section>
      <aside>
        <!-- Todo : add links to filter -->
        <header>
          <h2>필터</h2>
          <a th:href="@{/trade}">초기화</a>
        </header>
        <section>
          <div>
            <a><input type="checkbox"/> <span>거래 가능만 보기</span></a>
          </div>
          <div class="divider-line"></div>
          <div>
            <h3>위치</h3>
            <div th:each="obj:${dump_location}">
              <a><input type="radio"/> <span th:value="${dump.name}">종로구</span></a>
            </div>
          </div>
          <div class="divider-line"></div>
          <div>
            <h3>카테고리</h3>
            <div th:each="obj:${dump_category}">
              <a><input type="radio"/> <span th:value="${dump.category}">유아도서</span></a>
            </div>
          </div>
          <div class="divider-line"></div>
          <div>
            <h3>가격</h3>
            <div>
              <a>나눔</a>
              <a>5,000원 이하</a>
              <a>10,000원 이하</a>
              <a>20,000원 이하</a>
            </div>
            <div>
              <input type="number" class="price-start"/> - <input type="number" class="price-end"/>
              <a>적용하기</a>
            </div>
          </div>
        </section>
      </aside>
      <div th:each="obj:${dump_test}" class="contents">
        <div th:fragment="~{/trade/fragments/trade_components :: trade_card" class="card"></div>
      </div>
    </section>
  </div>
</main>
<!-- Todo : add link to float-box -->
<div class="float-box">
  <span>거래글쓰기</span>
</div>
<footer></footer>
</body>
</html>